.App {
  background-color: #008f68;
  height: 100vh;
  color: #FAE042;
}

.App img {
  display: flex;
  margin: auto;
  padding-top: 1em;
}

.App button {
  background-color: #FAE042;
  color: white;
  border: none;
}

.App button:hover {
  background-color: #FAE042;
  color: #008f68;
  border: none;
}

.App form {
  padding: 1em;
  margin: 1em;
}

h1, h2 {
  text-align: center;
}

.additional-info {
  margin-left: 1em;
}

.dark-yellow {
  color: #EFBB35;
  font-weight: 600;
}
